<a
    href="https://www.strava.com/oauth/authorize?client_id={{clientId}}&redirect_uri=http://localhost:{{port}}/strava/auth/callback&response_type=code&scope=read,read_all,profile:read_all,profile:write,activity:read,activity:read_all,activity:write">
    Get Credentials
</a>